h1 {
    text-align: center;
}

#table {
    margin: auto;
    height: 650px;
    width: 800px;
    background-color: rgba(4, 163, 4, 0.959);
    border-radius: 40px;
}

section {
    width: 550px;
    height: 160px;
    margin: auto;
    background-color: beige;
}
#gSLabel {
    color:firebrick;
    text-transform: uppercase;
    width: 550px;
    height: 35px;
    margin: auto;
    background-color: orange;
} 
#dHLabel, #pHLabel {
    color:firebrick;
    text-transform: uppercase;
    width: 550px;
    margin: 10px;
}
#gameStatus {
    background-color: lightblue;
    width: 550px;
    height: 60px;
    margin: auto;
}
footer {
    width: 550px;
    height: 50px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    background-color: blue;
    border-color: firebrick;
}
.betting,  {
    width: 550px;
    height: 35px;
    text-align: center;
    margin: auto;
    background-color: rgb(255, 0, 200);
}

#hitStay{
    width: 550px;
    height: 30px;
    margin: auto;
    background-color: red;
}

.betButtons {
    background-color: yellow;
}

