h1 {
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#table {
    margin: auto;
    height: 650px;
    width: 800px;
    background-color: #53AE8D;
    border-radius: 40px;
}
#gSLabel {
    color:firebrick;
    text-transform: uppercase;
    width: 550px;
    height: 35px;
    margin: auto;
    background-color: orange;
} 
#dealerHand, #playerHand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 160px;
    margin: 5px;
    background-color: beige;
    
}
#dHLabel, #pHLabel {
    display: block;
    /* background-color: blue; */
    color:firebrick;
    text-transform: uppercase;
    text-align: left;
    width: 550px;
    margin: 5px;
}
#gameStatus {
    background-color: lightblue;
    width: 550px;
    height: 60px;
    margin: auto;
}
footer {
    width: 550px;
    height: 50px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    background-color: blue;
    border-color: firebrick;
}

#hitStay button{
    width: 150px;
    height: 30px;
    margin: 10px;
    text-transform: uppercase;
}








.betting  {
    width: 550px;
    height: 35px;
    text-align: center;
    margin: auto;
    background-color: rgb(255, 0, 200);
}
.betButtons {
    background-color: yellow;
}

